.book-details {
    margin-top: 20px;
  }
  
  .book-card {
    margin-bottom: 20px;
  }
  
  .book-extra-details {
    margin-top: 20px;
  }
  
  .book-extra-details h4 {
    margin-bottom: 15px;
  }
  